<!-- <lottie-player id="ShoppingCart"
src="shoppingCart- 1721375609185.json"
background="transparent"
speed="1"
style="width: 20%; height: 20%; z-index: 1;"
loop
autoplay>
</lottie-player> -->
</body>
</html>