<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./styleSheets/homePageStyle.css">
</head>
<body>
<!-- NAVBAR -->
<div id="navBar">
    <div id="logo">
        <h1>Market 24/7</h1>
    </div>

    <div id="search">
        <input type="text" placeholder="Search" id="searchBar">
    </div>

    <div id="profile">
        <button id="toggleTheme"  style="top: 20px; right: 20px;">Dark Mode</button>
        <!-- PROFILE ICON -->
         <!-- username -->
    </div>
</div>
<!-- ITEMS AND PRODUCT LISTING -->
 <div id="products">

 </div>
    
</body>
</html>
