<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="blurCircle"></div>
    <div id="hero">
    <h1>
        Market 24/7
    </h1>
    <h2>Your Market Your Way</h2>
    <div id="formElement">
    <form action="/signup" method="post">
    <input type="submit" value="Sign up" class="button" id="signUP">
    </form>
    <form action="/signin" method="post">
    <input type="submit" value="Sign in" class="button" id="signIN">
    </form>
</div>
</div>
<div class="bottomImage">
    <img src="./images/istockphoto-1368585997-612x612-Photoroom.png" >
</div>
<div class="blurCircle2"></div>
<script src="./animations.js"></script>
</body>
</html>