<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="./signupStyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    
</head>
<body>
    <div class="blurBG"></div>
    <div id="response">
        <% if (locals.responseMessage) { %>
            <p id="response"><%= responseMessage %></p>
        <% } %>
        <% if(locals.booleanResponse){ %>
            <button><a href="/signIN">Head over to sign in page </a></button>
            <% } %>
        </div>

    <div id="gridBlock">
    <div id="logo">
        <h1>
            Market 24/7
        </h1>
        <p>Your Market Your Way</p>
    </div>
    <div id="formElement">
        <h2>Sign Up</h2>
        <form action="/" method="post">

            <label for="name">FullName </label>
            <input type="text" name="name" id="name" placeholder="Enter your name">

            <label for="phno">Phone Number</label>
            <input type="text" name="phno" id="phno" placeholder="Enter your Phone Number">

            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="Enter your Email ID">

            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Enter your Password">

            <input type="submit" name="Register" id="submit">
            

        </form>
    </div>
</div>
</body>
</html>