<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="./signupStyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    
</head>
<body>
    <div class="blurBG"></div>
    <div id="flexBlock">
    <div id="logo">
        <h1>
            Market 24/7
        </h1>
        <h2>Your Market Your Way</h2>
    </div>
    <div id="formElement">
        <form action="/homePage" method="post">

            <label for="name">FullName </label>
            <input type="text" name="name" id="name">

            <label for="phno">Phone Number</label>
            <input type="text" name="phno" id="phno">

            <label for="email">Email</label>
            <input type="email" name="email" id="email">

            <label for="password">Password</label>
            <input type="password" name="password" id="password">

            <input type="submit" name="Register" id="submit">

        </form>
    </div>
</div>
</body>
</html>